<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Sport Clothes Shop</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,500,600&amp;subset=cyrillic" rel="stylesheet">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/men2.css' %}">
	<script type = "text/javascript" src = "{% static 'js/jquery-3.3.1.min.js' %}">
	</script>
	<script type = "text/javascript" src = "{% static 'js/hover.js' %}">
	</script>
</head>
<body>
<header>
  <div class=header>
    <div class=logo><a href="http://127.0.0.1:8000">SCS</a></div>
  </div>
</header>
  <nav>
    <ul class="ul1">
      <li><a href="http://127.0.0.1:8000">Главная</a></li>
      <li>></li>
      <li><a href="">Регистрация</a></li>
    </ul>
  </nav>
  <div>
    <form action = "/registration/" method = post>
      {% csrf_token %}
      {{ form }}
      <input type = submit value = "Зарегистрироваться">
      </form>
  </div>
</body>
</html>
